<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
    <title>Cars</title>
</head>
<body>
<h2>List of your cars:</h2>
<table>
    <tr>
        <th>CAR ID</th>
        <th>MARK</th>
        <th>MODEL</th>
        <th>REGISTRATION NUMBER</th>
        <th>ODOMETER STATUS</th>
        <th>DEADLINE OF OC</th>
        <th>DEADLINE OF AC</th>
        <th>DEADLINE OF TECHNICAL INSPECTION</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getId()}"/>
        <td th:text="${car.getMark()}"/>
        <td th:text="${car.getModel()}"/>
        <td th:text="${car.getRegistrationNumber()}"/>
        <td th:text="${car.getOdometerstatus()}"/>
        <td th:text="${car.getDeadlineOfOC()}"/>
        <td th:text="${car.getDeadlineOfAC()}"/>
        <td th:text="${car.getDeadlineOfTechnicalInspection()}"/>
    </tr>
    <tr>
        <form th:action="add-car" th:object="${newCar}" method="post">
            <td>auto-insertion</td>
            <td><input type="text" th:field="*{mark}"></td>
            <td><input type="text" th:field="*{model}"></td>
            <td><input type="text" th:field="*{registrationNumber}"></td>
            <td><input type="number" th:field="*{odometerstatus}"></td>
            <td><input type="date" th:field="*{deadlineOfOC}"></td>
            <td><input type="date" th:field="*{deadlineOfAC}"></td>
            <td><input type="date" th:field="*{deadlineOfTechnicalInspection}"></td>
            <td><input type="submit" value="add"></td>
        </form>
    </tr>
</table>
<hr>
<h3>Statistics:</h3>
<table>
    <tr>
        <td>Number of Your cars:</td>
        <td><p th:text="${numberOfCars}"></p></td>
    </tr>
    <tr>
        <td>Average odometer status:</td>
        <td><p th:text="${averageOdometerStatus}"></p></td>
    </tr>
</table>
</body>
</html>